<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="Logs\nlog-internal.log"
      internalLogLevel="Warn">
    <targets>
        <target xsi:type="File" name="appLogFile" fileName="${basedir}/Logs/application ${shortdate}.log"/>
        <target xsi:type="File" name="serialPortLogFile" fileName="${basedir}/Logs/${logger} ${shortdate}.log"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="appLogFile" />
        <logger name="SerialPort*" minlevel="Debug" writeTo="serialPortLogFile"/>
    </rules>
</nlog>